version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: ops-merchant-admin-fe
    ports:
      - '80:80'
    env_file:
      - .env.production
    restart: unless-stopped